@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Open+Sans&display=swap');

* {
  font-family: 'Mulish', sans-serif;
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.field {
  background-color: #4dc1f9;
  box-shadow: 0px 0px 0 1px white;
}

.choose-wisely {
  font-size: 48px;
  margin-bottom: 50px;
}

.start-board {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-board.hide {
  display: none;
}

.sections {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  height: 150px;
  margin: 15px;
  width: 400px;
}

button {
  background-color: black;
  border: 1px solid white;
  padding: 10px 30px;
  cursor: pointer;
  transition: transform;
  font-size: 21px;
}

button:active,
.fas:active {
  transform: scale(0.98);
}

.board {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 150px;
  font-size: 48px;
}

.result {
  display: flex;
  justify-content: space-evenly;
}

.menu,
.settings {
  position: absolute;
  z-index: 15;
  top: 50px;
  left: 50px;
  font-size: 48px;
  cursor: pointer;
  text-decoration: underline;
}

.settings {
  left: calc(100vw - 228px);
}

.settings-popup {
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
}

.settings-popup.hide {
  display: flex;
}

.easy-lv,
.medium-lv,
.hard-lv,
.insane-lv {
  text-align: center;
  border: 1px solid white;
  margin: 0 25px;
  width: 125px;
  padding: 10px 25px;
  cursor: pointer;
}

.wrap {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 180px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
  font-size: 21px;
}

.level-difficulty-wrap,
.mode-wrapper,
.highest-score-wrapper {
  display: flex;
  width: 100%;
}

.more-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.more-info > button {
  font-size: 14px;
}

.level-difficulty.insane {
  color: red;
}

.level-difficulty.easy {
  color: green;
}

.level-difficulty.medium {
  color: yellow;
}

.level-difficulty.hard {
  color: orange;
}

.more-info-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 450px;
  background-color: black;
  border: 1px solid white;
}

.more-info-popup.show {
  display: flex;
  flex-direction: column;
}

.close-more-info-popup {
  position: absolute;
  right: 25px;
  top: 25px;
  cursor: pointer;
}

.more-info-element {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
}

.mode-name {
  font-size: 41px;
}

.more-info-element > * {
  padding: 5px;
}

.fas {
  font-size: 34px;
  transition: transform;
}

.restart-wrap {
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
}

.restart {
  z-index: 20;
}
